
/* Importing text fonts to use on the website */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto; /* To center the content on the page */
  }

  /* Set the text color for the header */
  header {
    position: relative;
    z-index: 2;
    background-color: rgba(17, 17, 17, 0.582);
    color: white;
    font-family: cursive, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    padding: 10px;
  }

  /* Set a width of 80px for the .logo class (logo) */
  .logo {
    width: 80px;
  }

  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    float: none;
  }

  #canyon {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -316px;
  }

  #canyon-img {
    width: 400%;
  }

  #canyon-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }

  /* Center links within the <nav> element */
  nav a {
      text-align: center;
      color: white;
      font-weight: bold;
      text-decoration: none;
      padding: 35px;
  }
  /* Set the text color for the footer */
  footer {
    background-color: black;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* Set the text color for the page's body */
  body {
    background-color: white;
    color: white;
    font-family: cursive, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }

  /* Set the text color for links within the footer */
  footer a {
    background-color: black;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  /* Set the text color for links within the footer when in the hover state */
  footer a:hover {
    background-color: black;
    color: #FACF39;
  }

  footer p {
    font-size: 1.0em;
  }
  
  footer p a:hover {
    text-decoration: none;
  }

  footer .social img {
    padding-top: 15px;
  }