
/* Importing text fonts to use on the website */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto; /* To center the content on the page */
  }
  
  /* Center links within the <nav> element */
  nav a {
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 35px;
  }
  
  /* Center text within elements with IDs 'hero-msg' and classes 'h1' and 'h4' */
  #hero-msg h1, #hero-msg h4 {
    text-align: center;
  }
  
  /* Center text within elements with the class 'button-box' */
  .button-box {
    text-align: center;
  }
  
  /* Center text within <section> elements within <main> */
  main section {
    text-align: center;
  }
  
  #background {
    height: 725px;
    background-color: black;
  }
  
  /* Set the text color for the page's body */
  body {
    background-color: white;
    color: black;
    font-family: cursive, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }

  h2 {
    margin: 0;
  }
  
  /* Set the text color for the header */
  header {
    background-color: white;
    color: black;
    font-family: cursive, Helvetica, sans-serif;
  }
  
  /* Set the text color for links within <nav> when in the hover state */
  nav a:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Set the text color for elements with classes "book" and "join" */
  .book, .join {
    text-align: center;
    background-color: #FACF39;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
  
  /* Set the text color for elements with classes "book" and "join" when in the hover state */
  .book:hover, .join:hover {
    background-color: white;
    color: black;
    font-weight: bold;
  }
  
  /* Set the text color for the element with the ID "background" */
  #background {
    background-color: white;
    color: black;
  }
  
  /* Set the text color for elements with the class "msg" */
  .msg {
    background-color: black;
    color: white;
    line-height: 1.5em;
    padding: 35px;
  }

  .msg h2 {
    color: white;
    font-family: cursive, Helvetica, sans-serif;
  }

  .msg p {
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
  }
  
  /* Set the text color for the footer */
  footer {
    background-color: black;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
  }
  
  /* Set the text color for links within the footer */
  footer a {
    background-color: black;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  /* Set the text color for links within the footer when in the hover state */
  footer a:hover {
    background-color: white;
    color: black;
  }

  footer p {
    font-size: 1.0em;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }

  footer .social img {
    padding-top: 15px;
  }
  /* Set a width of 80px for the .logo class (logo) */
  .logo {
    width: 80px;
  }

  #logo_link {
    padding-top: 5px;
  }
  
  /* Set a width of 80px for all images with the .icon class (card icons) */
  .icon {
    width: 80px;
    padding-top: 10px;
  }

  /* Set a color for text on home-tittle */
  .home-tittle {
    color: black;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
  }

  /* Set a color for text on h4 */
  h4 {
    color: black;
  }
  
  /* Set a responsive width of 100% for the image with the ID #hero-img (hero image) */
  #hero-img {
    width: 100%;
  }
  
  .rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
  }

  .card-img {
    border: 10px solid black;
  }

  main section img {
    box-sizing: border-box;
  }