:root {
    --font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --text-align: center;
    --color:rgb(24, 101, 114);
    --paragraph-color:black;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(149, 219, 231);
}

/* Menu bar of the page */
nav {
    background-color: rgb(24, 101, 114);
    overflow: hidden;
    text-align: var(--text-align);
    font-family: var(--font-family);
    padding: 10px;
}

/* Menu bar links of the page */
nav a {
    display: block;
    color: white;
    text-align: var(--text-align);
    padding: 14px 16px;
    text-decoration: none;
}

/* All the titles on the page will follow this formatting pattern */
h1 {
    color: var(--color);
}

h2 {
    color: var(--color);
}
/* All the img on the page will follow this formatting pattern */
img {
    width: 150px;
    height: auto;
    border: 2px transparent rgb(24, 101, 114, 0.3);
    border-radius: 20px;
    padding: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

main {
    max-width: 840px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px transparent rgb(253, 252, 252);
    padding: 10px;
    background-color: rgb(253, 252, 252, 0.4);
    color: var(--paragraph-color);
    text-align: var(--text-align);
    font-family: var(--font-family);
}

main img {
    width: 150px;
    height: auto;
}

/* All the paragraphs on the page will follow this formatting pattern */
p {
    padding: 0;
}

aside {
    overflow: hidden;
    max-width: 840px;
    margin: auto;
    border: 2px transparent rgb(253, 252, 252);
    padding: 10px;
    background-color: rgb(253, 252, 252, 0.4);
    color: var(--paragraph-color);
    text-align: var(--text-align);
    font-family: var(--font-family);
}

aside img {
    width: 200px;
    height: auto;
}

/* All pages must maintain this standardized footer style */
footer {
    margin-top: 20px;
    border-top: 2px solid rgb(24, 101, 114);
    text-align: var(--text-align);
    font-family: var(--font-family);
}